@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

.account_data__wrapper {
    width: 100%;
}
.component__title {
    margin: 0;
    font-weight: 500;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.property__container {
    margin-top: 25px;
}

.property__container:last-child {
    margin-bottom: 25px;
}

.property__title {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.input__wrapper {
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: inline;
    padding: 7px 14px;
    background-color: #f6f8fa;
}

.property__value {
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: #f6f8fa;
    width: 400px;
}

.property__subtitle {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #4d4d4d;
    max-width: 550px;
    margin: 0;
    margin-top: 15px;
}

.update__profile {
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    background-color: #2da44e;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
}

.update__profile:hover {
    background-color: #2a9246;
}