@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

.current_orders__wrapper {
    width: 100%;
}

.component__title {
    margin: 0;
    font-weight: 500;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

table {
    margin-top: 25px;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    vertical-align: middle;
    text-align: center;
    table-layout: fixed;
}

th, td {
    border: 1px solid lightgrey;
    padding: 8px;
}

thead th {
    /*width: 25%;*/
    /*white-space: pre;*/
}

thead {
    background-color: lightcyan;
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
    /*letter-spacing: 2%;*/
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.56);
}

@media screen and (max-device-width: 1250px) {
    table {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    th, td {
        border: none;
    }

    table {
        border: 0;
        margin-right: 0;
        margin-left: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
        border: 1px solid lightgrey;
        border-bottom: none;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .9em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    tbody tr td:nth-child(even) {
        background-color: rgba(245, 245, 245, 0.56);
    }
    tbody tr td:nth-child(odd) {
        background-color: white;
    }

    .current_orders__wrapper {
        margin-top: 25px;
    }
}
