.users__wrapper {
    width: 100%;
}

.component__title {
    margin: 0;
    font-weight: 500;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.users_table {
    margin-top: 25px;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    vertical-align: middle;
    text-align: center;
    table-layout: fixed;
}

.users_table__th, .users_table__td {
    border: 1px solid lightgrey;
    padding: 8px;
    width: 1fr;
}

.users_table__thead {
    background-color: lightcyan;
    color: black;
    font-size: 0.875rem;
    text-transform: uppercase;
}

/*.users_table__th, .users_table__td {*/
/*    width: max-content;*/
/*}*/

.users_table__tbody tr:nth-child(odd) {
    background-color: #fff;
}

.users_table__tbody tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.56);
}

.pagination__wrapper {
    padding: 15px 0;
    width: 100%;
    display: flex;
}

.pagination__button {
    padding: 3px 10px;
    margin: 0 0 0 7px;
    cursor: pointer;
    border: 1px solid #dedede;
    font-size: 14px;
    border-radius: 3px;
}

.pagination__button:disabled {
    cursor: inherit;
}

.pagination__button:hover {
    background-color: #e5e5e5;;
}

.pagination__button:disabled {
    background-color: inherit;
}

.pagination__size_select {
    padding: 3px 5px;
    margin-left: 7px;
    cursor: pointer;
    border-radius: 3px;
}

.pagination__goto_input {
    padding: 3px 5px;
    margin-left: 7px;
    outline: none;
}

@media screen and (max-device-width: 1250px) {
    .users_table {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .users_table__th, .users_table__td {
        border: none;
    }

    .users_table {
        border: 0;
        margin-right: 0;
        margin-left: 0;
        min-width: 60%;
    }

    .users_table__thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .users_table__tr {
        display: block;
        margin-bottom: .625em;
        border: 1px solid lightgrey;
        border-bottom: none;
    }

    .users_table__td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .9em;
        text-align: right;
    }

    .users_table__td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .users_table__td:nth-child(even) {
        background-color: rgba(245, 245, 245, 0.56);
    }
    .users_table__td:nth-child(odd) {
        background-color: white;
    }

    .current_orders__wrapper {
        margin-top: 25px;
    }

    .pagination__wrapper {
        flex-direction: column;
    }

    .pagination__buttons {
        margin-top: 15px;
    }

    .pagination__button:first-child {
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .users__wrapper {
        margin-top: 25px;
    }

    .users_table {
        width: 100%;
    }
}