@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');

.navbar {
    width: 100%;
    background: #222126;
    font-size: 24px;
    /*padding: 20px;*/
    display: flex;
    align-items: center;
    z-index: 99;
}

.link {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    text-decoration: none;
    border: none;
    margin-right: 15px;
    color: #fff;
    transition: 0.2s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link:last-child {
    margin-right: 0;
}

.link:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.link:hover {
    transition: 0.2s ease;
    color: rgb(143, 187, 234);
}

.logo {
    padding: 5px;
    width: 60px;
    height: 60px;
    margin: 10px 40px 10px 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

.logo:hover {
    background-color: #3c3946;
    border-radius: 5px;
    transition: 0.2s ease;
}

.menu__mobile_icon {
    display: none;
}

/***   ADAPTIVE   ***/

@media screen and (max-device-width: 1000px) {
    .navbar {
        flex-direction: column;
        position: fixed;
    }

    .logo__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .link__wrapper {
        display: none;
    }

    .menu__mobile_icon {
        display: block;
        margin-right: 25px;
        color: white;
        cursor: pointer;
    }

    .link__wrapper_mobile {
        display: flex;
        flex-direction: column;
    }

    .link {
        margin: 7px 0 0 0;
        font-size: 20px;
    }

    .link:last-child {
        margin: 7px 0 14px 0;
    }

    .logo {
        margin: 0 14px 0 20px;
        width: 50px;
        height: 50px;
    }
}

