@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.size_button {
    display: inline-block;
    padding: 8px 16px;
    background: #e2f1e9;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
}

.selected {
    border: 2px solid green;
}

/***   ADAPTIVE   ***/

@media screen and (max-device-width: 550px) {
    .size_button {
        padding: 6px 14px;
    }
}