@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.basket__wrapper {
    display: flex;
    justify-content: center;
}

.basket {
    width: 86%;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.empty_basket_logo {
    max-width: 230px;
    max-height: 230px;
}

.empty_basket {
    margin-top: 50px;
    text-align: center;
}

.empty_basket__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000000;
}

.empty_basket__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #2f2e2e;
    margin: 0;
}

.checkout {
    margin-top: 50px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 10px;
    border: 1px solid green;
    padding: 0 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    background: #e2f1e9;
    display: flex;
    align-items: center;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin: 20px 30px 20px 0;
}

.price span {
    font-size: 18px;
}

.checkout__button {
    background: green;
    padding: 15px 25px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.checkout__button:hover {
    background: #27a927;
}

/***   ADAPTIVE   ***/

@media screen and (max-device-width: 1000px) {
    .basket {
        width: 100%;
        border: none;
        padding: 0;
    }

    .empty_basket {
        margin-top: 96px;
    }

    .empty_basket_logo {
        max-width: 180px;
        max-height: 180px;
    }

    .empty_basket__header {
        font-size: 18px;
    }

    .empty_basket__subtitle {
        font-size: 16px;
    }
}

@media screen and (max-device-width: 1000px) {
    .empty_basket {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        justify-content: flex-end;
    }

    .empty_basket_logo {
        max-width: 130px;
        max-height: 130px;
    }

    .empty_basket__header {
        font-size: 16px;
    }

    .empty_basket__subtitle {
        font-size: 14px;
    }

    .checkout {
        margin: 0 auto 10px auto;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid green;
        border-top: 1px solid green;
        padding: 0;
        font-size: 14px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .price {
        font-size: 24px;
    }

    .checkout__button {
        background: #258225;
        padding: 10px 20px;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
    }
}