@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.item__wrapper {
    display: flex;
    justify-content: center;
}

.item {
    width: 90%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item_container {
    display: flex;
    justify-content: center;
}

.item__title {
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.item__image_wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /*min-width: 30%;*/
    /*min-width: 500px;*/
    max-height: 600px;
    align-items: center;
}

.item__image {
    max-height: inherit;
    cursor: pointer;
}

.item__about_right {
    margin-top: 40px;
    width: 50%;
    margin-left: 80px;
}

.item__size_title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
}

.size_button_wrapper {
    margin-top: 20px;
}

.size_button_wrapper > * {
    margin: 0 5px;
}

.item__time_title {
    margin: 30px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
}

.time_button_wrapper {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.time_button_wrapper > * {
    margin-top: 10px;
}

.checkout_button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 25px;
    border-radius: 6px;
    background-color: rgb(105, 164, 227);
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 0.2px;
    color: floralwhite;
    cursor: pointer;
    font-size: 30px;
}

.checkout_button:hover {
    background-color: rgb(64, 135, 210);
}

.checkout_wrapper {
    display: flex;
    margin-top: 25px;
    padding: 20px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    max-width: 400px;
}

.item__price {
    margin: 0 50px 0 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #f43f3f;
}

.item__hours {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.item__about_right hr {
    color: lightgray;
}

.item__hours_text {
    font-size: 17px;
    font-weight: 400;
}

.item__price_text {
    font-size: 34px;
    margin: 0 0 15px 0;
}

.item__hours_text:first-child {
    margin-right: 10px;
}

.item__set_datatime_wrapper {
    display: flex;
    align-items: center;
}

.item__datatime_wrapper {
    display: flex;
}

.item__datatime_wrapper label {
    margin: 10px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.6px;
}

.item__time_button_wrapper {
    margin-left: 20px;
}

.item__time_button_wrapper > * {
    margin-right: 10px;
}

.interactive_elements {
    margin-left: 30px;
}

.item__image_arrows {
    stroke: #4e6db9;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.item__image_arrows:hover {
    stroke: #e25078;
    transition: 0.2s ease-in-out;
}

.item__datatime_start, .item__datatime_end {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.item__datatime_end {
    margin-left: 100px;
}

.item__datatime {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;
    outline: none;
    color: #000000;
}

/***   ADAPTIVE   ***/

@media screen and (max-device-width: 1200px) {
    .item__wrapper {
        display: inline;
        justify-content: center;
        width: 100%;
    }

    .item {
        width: 100%;
        padding: 20px 0 0 0;
    }

    .item__about_right {
        margin-top: 40px;
        width: 80%;
        margin-left: 20px;
    }

    .item__datatime_end {
        margin-left: 40px;
    }

    .checkout_wrapper {
        max-width: 350px;
        margin-top: 17px;
        padding: 10px 10px;
    }

    .item__price {
        font-size: 36px;
    }

    .checkout_button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 7px 15px;
        font-size: 24px;
    }

    .interactive_elements {
        margin-left: 15px;
    }

    .item__size_title, .item__time_title {
        font-size: 20px;
    }

    .item__image {
        max-width: 300px;
    }
}

@media screen and (max-device-width: 1000px) {
    .item_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item {
        padding: 81px 0px 0 0px;
    }

    .item__about_right {
        margin-top: 40px;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .item__title {
        font-size: 26px;
        text-align: center;
    }
}

@media screen and (max-device-width: 900px) {
    .item__datatime_wrapper {
        display: flex;
        flex-direction: column;
    }

    .item__datatime_end {
        margin-left: 0;
    }

    .item__datatime_start, .item__datatime_end {
        max-width: 300px;
    }

    .item__about_right {
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-device-width: 550px) {
    .item__image {
        max-width: 250px;
    }

    .item__title {
        font-size: 20px;
    }

    .item__size_title, .item__time_title {
        font-size: 16px;
    }

    .item__set_datatime_wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .item__time_button_wrapper {
        margin-top: 15px;
    }

    .checkout_wrapper {
        display: inline-flex;
    }

    .item__price_text {
        font-size: 26px;
        /*margin: 0 0 15px 0;*/
    }
    .item__hours_text {
        font-size: 13px;
    }

    .item__datatime_wrapper label {
        font-size: 14px;
    }

    .item__datatime {
        font-size: 14px;
    }

    .item__datatime_start, .item__datatime_end {
        margin-top: 0;
    }
}