@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.shop__wrapper {
    display: flex;
    justify-content: center;
}

.shop {
    width: 86%;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding: 30px;
    display: flex;
}

.item__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.goods__wrapper {
    margin-left: 25px;
    width: 100%;
}

.showMore_wrapper {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.showMore_button {
    background-color: #529edf;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    height: 30px;
    color: white;
    font-weight: bolder;
}

/***   ADAPTIVE   ***/

@media screen and (max-device-width: 1000px) {
    .shop {
        width: 100%;
        border-right: none;
        border-left: none;
        padding: 86px 5px 0 5px;
        flex-direction: column;
    }

    .item__wrapper {
        margin-top: 20px;
    }
}